<form action="{{ path('invitation') }}" method="POST" class="input-field col s3">
    <div class="input-field">
        {{ form_widget(form) }}
        <label for="url"></label>
        <button type="submit" class="btn waves-effect waves-light">url</button>
        {{ form_widget(form) }}
    </div>
</form>